<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Intelichat</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>

<body>

  <header class="chatbot-container">
    <h1>Intelichat</h1>
  </header>  

  <main class="chatbot-container">
    <section class="chatbot-messages" id="chat-messages"></section>
    <section class="chatbot-input-container">
      <input type="text" id="user-input" class=" chatbot-input" placeholder="Digite aqui...">
      <button id="send-button" class="chatbot-send-btn">
        <ion-icon name="send-outline"></ion-icon>
      </button>
    </section>
  </main>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
  
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>